@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

input {
	@apply input p-2;
}

textarea {
	@apply textarea p-2;
}

.post-content {
	@apply prose-a:anchor prose-p:text-white prose-code:code prose-blockquote:blockquote prose-img:max-w-[90%] prose-ul:list-disc prose-ol:list-decimal prose-ol:list-inside prose-ul:list-inside;
}
