@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

input {
	@apply rounded-container-token p-2 text-black;
}

textarea {
	@apply rounded-container-token p-2 text-black;
}
